@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif; 
  overflow-x: hidden; /* Isso pode ser útil para evitar scrolls horizontais */
  color: white;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body, h1, h2, h3, p {
  margin: 0px;
}


a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

